html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  word-break: break-word;

  background-color: #3e3e3e;

  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.navbar-001 .slider-container {
  position: relative;
  width: 100%;
  margin-top: 80px;
  padding: 0;
}

.navbar-001 .slide {
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #d8d8d8;;

  outline: none;
}

.navbar-001 .slide__title {
  margin-top: 0;
}

.navbar-001 .slide__btn {
  text-transform: uppercase;
  white-space: pre-wrap;

  transition-duration: 0.3s;
  transition-property: background-color, color, border-color;
}

.navbar-001 .slide__btn--details {
  color: #ffffff;

  background-color: #ff891e;
  border-color: transparent;
}

.navbar-001 .slide__btn--details:hover,
.navbar-001 .slide__btn--details:focus {
  background-color: #ff720f;
  outline: none;
}

.navbar-001 .slide__btn--details:active {
  border-color: #dc630d;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }

  .navbar-001 .slide {
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 47px;

    background-size: 767px 400px;
  }

  .navbar-001 .slide--first.no-webp {
    background-image: url("../img/slider_1min.jpg");
  }

  .navbar-001 .slide--first.webp {
    background-image: url("../img/slider_1min.webp");
  }

  .navbar-001 .slide--second.webp {
    background-image: url("../img/slider_2min.webp");
  }

  .navbar-001 .slide--second.no-webp {
    background-image: url("../img/slider_2min.jpg");
  }

  .navbar-001 .slide--third.webp {
    background-image: url("../img/slider_3min.webp");
  }

  .navbar-001 .slide--third.no-webp {
    background-image: url("../img/slider_3min.jpg");
  }

  .navbar-001 .slide--four.webp {
    background-image: url("../img/slider_4min.webp");
  }

  .navbar-001 .slide--four.no-webp {
    background-image: url("../img/slider_4min.jpg");
  }

  .navbar-001 .slide__content-wrapper {
    width: 360px;
    margin-top: 81px;
  }

  .navbar-001 .slide__text-wrapper {
    padding: 0;
    text-align: center;
  }

  .navbar-001 .slide__title {
    margin-bottom: 5px;

    letter-spacing: 0.4px;
    line-height: 1.25;
  }

  .navbar-001 .slide__text--mobile {
    margin-bottom: 22px;
  }

  .navbar-001 .slide__btn--details {
    min-width: 129px;
    padding-bottom: 9px;
  }

  .navbar-001 .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 4px;

    display: flex;
    align-items: flex-start;
    margin-left: 0;

    transform: translateX(-50%);
  }

  .navbar-001 .slick-dots li {
    margin-right: 16px;
  }

  .navbar-001 .slick-dots button {
    width: 15px;
    height: 15px;
    border: 1px solid #282828;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    text-indent: -9999px;

    background-color: transparent;
  }

  .navbar-001 .slick-dots button:hover,
  .navbar-001 .slick-dots button:focus,
  .navbar-001 .slick-active button {
    background-color: #282828;
    outline: none;
    cursor: pointer;
  }

  .navbar-001 .slider-pagination__nav-bullet:not(:last-of-type) {
    margin-right: 18px;
  }
}

@media (min-width: 768px) {
  .navbar-001 .slide {
    min-height: 675px;
    padding: 40px 0 110px;

    background-position: 36% top;
  }

  .navbar-001 .slide--first.no-webp {
    background-image: url("../img/slider_1.jpg");
  }

  .navbar-001 .slide--first.webp {
    background-image: url("../img/slider_1.webp");
  }

  .navbar-001 .slide--second.webp {
    background-image: url("../img/slider_2.webp");
  }

  .navbar-001 .slide--second.no-webp {
    background-image: url("../img/slider_2.jpg");
  }

  .navbar-001 .slide--third.webp {
    background-image: url("../img/slider_3.webp");
  }

  .navbar-001 .slide--third.no-webp {
    background-image: url("../img/slider_3.jpg");
  }

  .navbar-001 .slide--four.webp {
    background-image: url("../img/slider_4.webp");
  }

  .navbar-001 .slide--four.no-webp {
    background-image: url("../img/slider_4.jpg");
  }

  .navbar-001 .slide__content-wrapper {
    margin-top: 186px;
  }

  .navbar-001 .slide__btn--specials {
    border: 1px solid #212121;

    background-color: transparent;
  }

  .navbar-001 .slide__btn--specials:hover,
  .navbar-001 .slide__btn--specials:focus {
    border-color: #ffffff;

    color: #ffffff;

    outline: none;
  }

  .navbar-001 .slide__btn--specials:focus {
    background-color: transparent;
  }

  .navbar-001 .slider__arrow {
    top: 50%;
    z-index: 1;

    width: 79px;
    height: 83px;
    border: none;

    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;

    transform: translateY(-50%);

    transition-duration: 0.3s;
    transition-property: background-color;
  }

  .navbar-001 .slider__arrow:hover,
  .navbar-001 .slider__arrow:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-001 .slider__arrow::before {
    content: "";

    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
  }

  .navbar-001 .slider__arrow:active::before {
    border-color: #ff891e;
  }

  .navbar-001 .slider__arrow--prev {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .navbar-001 .slider__arrow--prev::before {
    transform:
      rotate(135deg)
      translate(5px, 5px);
  }

  .navbar-001 .slider__arrow--next {
    left: 100%;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    transform: translate(-100%, -50%);
  }

  .navbar-001 .slider__arrow--next::before {
    transform:
      rotate(-45deg)
      translate(5px, 5px);
  }

  .navbar-001 .slider-pagination {
    position: absolute;
    left: 50%;

    width: 100%;
    margin-left: 0;

    transform: translateX(-50%);
  }

  .navbar-001 .slider-pagination .slick-list {
    padding: 0 !important;
  }

  .navbar-001 .slider-pagination .slick-track {
    display: flex;
    justify-content: space-between;
  }

  .navbar-001 .slider-pagination__nav-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 24% !important;
    padding: 5px;
    border-radius: 3px;

    color: #ffffff;

    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.15);
    background-size: 39px 45px;

    transition-duration: 0.3s;
    transition-property: background-color;

    cursor: pointer;
  }

  .navbar-001 .slider-pagination__nav-item:first-of-type {
    margin-left: 0;
  }

  .navbar-001 .slider-pagination__nav-item:last-of-type {
    margin-right: 0;
  }

  .navbar-001 .slider-pagination__image {
    flex-shrink: 0;
    border-radius: 3px;
  }

  .navbar-001 .slider-pagination__wrapper {
    width: 75%;

    letter-spacing: 0.5px;
  }

  .navbar-001 .slider-pagination__nav-item:hover,
  .navbar-001 .slider-pagination__nav-item:focus,
  .navbar-001 .slider-pagination__nav-item.slick-current {
    background-color: rgba(0, 0, 0, 0.5);

    outline: none;
    cursor: pointer;
  }

  .navbar-001 .slider-pagination__text {
    display: block;
  }

  .navbar-001 .slider-pagination__title {
    margin: 0;

    font-weight: bold;
    line-height: 1.3;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 22px;
  }

  .navbar-001 .slide__title {
    font-size: 35px;
    line-height: 1.2;
  }

  .navbar-001 .slide__text-wrapper {
    padding-left: 82px;
  }

  .navbar-001 .slide__text--no-mobile {
    margin-bottom: 16px;

    font-size: 22px;
  }


  .navbar-001 .slide__btn {
    min-width: 130px;
    max-width: 200px;
    margin-right: 12px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .navbar-001 .slider-pagination {
    bottom: 27px;

    max-width: 952px;
    padding: 0 5px;
  }

  .navbar-001 .slider-pagination__nav-item {
    max-width: 224px;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  .navbar-001 .slider-pagination__wrapper {
    margin-left: 5px;
  }

  .navbar-001 .slider-pagination__text {
    margin-top: 2px;

    font-size: 9px;
  }

  .navbar-001 .slider-pagination__title {
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 26px;
  }

  .navbar-001 .slider {
    max-width: 1920px;
  }

  .navbar-001 .slide__content-wrapper {
    max-width: 1200px;
    width: 100%;
  }

  .navbar-001 .slide__title {
    margin-bottom: 12px;

    font-size: 42px;
    line-height: 1.2;
  }

  .navbar-001 .slide__text--no-mobile {
    margin-bottom: 20px;
  }

  .navbar-001 .slide__btn {
    max-width: 300px;
    min-width: 156px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 10px;

    font-size: 16px;
  }

  .navbar-001 .slider-pagination {
    bottom: 22px;

    max-width: 1140px;
    width: 100%;
  }

  .navbar-001 .slider-pagination__nav-item {
    margin-left: 0.6%;
    margin-right: 0.6%;
  }

  .navbar-001 .slider-pagination__image {
    width: 48px;
    height: 55px;
  }

  .navbar-001 .slider-pagination__wrapper {
    margin-left: 10px;
  }

  .navbar-001 .slider-pagination__text {
    margin-top: -2px;
    margin-bottom: 0;

    font-size: 11px;
  }

  .navbar-001 .slider-pagination__title {
    font-size: 12px;
  }
}

.navbar-001 .preloader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation-delay: 0.3s;

  background-color: #c4cdd6;
}

.navbar-001 .start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 250px;
  padding: 10px;

  transform: translate(-50%, -50%);

  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: pre-wrap;

  background-color: #ff891e;

  transition-property: background-color;
  transition-duration: 0.3s;
}

.navbar-001 .start-btn:hover,
.navbar-001 .start-btn:focus {
  color: #ffffff;
  background-color: #ff720f;
  outline: none !important;
}

.navbar-001 .start-btn:active {
  border-color: #dc630d;
}

.navbar-001 .loading-wait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.navbar-001 .dash {
  margin: 0 15px;
  width: 35px;
  height: 10px;
  border-radius: 8px;
  background: #ffb400;
  box-shadow: 0 0 10px 0 rgba(255, 209, 0, 0.33);
}

.navbar-001 .uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.navbar-001 .dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.navbar-001 .tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.navbar-001 .cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
