html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  word-break: break-word;

  background-color: #ffffff;

  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* stylelint-disable */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* stylelint-enable */

.navbar-001 .slider-container {
  position: relative;
}

.navbar-001 .slide {
  background-repeat: no-repeat;
  background-position: center top;
}

.navbar-001 .slide__btn {
  text-transform: uppercase;
}

.navbar-001 .slide__btn--details {
  color: #ffffff;

  background-color: #ff891e;
  border-color: transparent;
}

.navbar-001 .slide__btn--details:hover,
.navbar-001 .slide__btn--details:focus {
  background-color: #ff720f;
  outline: none;
}

.navbar-001 .slide__btn--details:active {
  border-color: #dc630d;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }

  .navbar-001 .slide {
    display: flex;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 47px;

    background-size: 767px 400px;
    outline: none;
  }

  .navbar-001 .slide--first.no-webp {
    background-image: url("../img/slider_1min.jpg");
  }

  .navbar-001 .slide--first.webp {
    background-image: url("../img/slider_1min.webp");
  }

  .navbar-001 .slide--second.webp {
    background-image: url("../img/slider_2min.webp");
  }

  .navbar-001 .slide--second.no-webp {
    background-image: url("../img/slider_2min.jpg");
  }

  .navbar-001 .slide--third.webp {
    background-image: url("../img/slider_3min.webp");
  }

  .navbar-001 .slide--third.no-webp {
    background-image: url("../img/slider_3min.jpg");
  }

  .navbar-001 .slide__content-wrapper {
    align-self: center;
    width: 375px;
  }

  .navbar-001 .slide__text-wrapper {
    text-align: center;
  }

  .navbar-001 .slide__title {
    margin-top: 0;
    margin-bottom: 5px;

    letter-spacing: 0.4px;
    line-height: 1.25;
  }

  .navbar-001 .slide__text--mobile {
    margin-bottom: 21px;
  }

  .navbar-001 .slide__btn--details {
    min-width: 130px;
  }

  .navbar-001 .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 4px;

    display: flex;
    align-items: flex-start;

    transform: translateX(-50%);
  }

  .navbar-001 .slick-dots li:not(:last-of-type) {
    margin-right: 16px;
  }

  .navbar-001 .slick-dots button {
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    text-indent: -9999px;

    background-color: transparent;
  }

  .navbar-001 .slick-dots button:hover,
  .navbar-001 .slick-dots button:focus,
  .navbar-001 .slick-active button {
    background-color: #000000;
    outline: none;
    cursor: pointer;
  }

  .navbar-001 .slider-pagination__nav-bullet:not(:last-of-type) {
    margin-right: 18px;
  }
}

/* Пока не надо */
@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 26px;
  }
}
