:root {
  --xs-min-width: 360px;
  --xs-max-width: 767px;
  --sm-min-width: 768px;
  --md-max-width: 1199px;
  --ld-min-width: 1200px;
  --ld-max-width: 1920px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: var(--xs-min-width);

  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  word-break: break-word;

  background-color: #ffffff;

  -webkit-tap-highlight-color: transparent;
}

@media (max-width: var(--xs-max-width)) {
  body {
    font-size: 18px;
  }
}

@media (max-width: var(--sm-min-width)) {
  body {
    font-size: 22px;
  }
}

@media (max-width: var(--ld-min-width)) {
  body {
    font-size: 26px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


