html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: $mobile-min-width;

  font-family: $geometria;
  font-size: 14px;
  line-height: $body-lh;
  font-weight: normal;
  color: $dark-on-light;
  word-break: break-word;

  background-color: $body-bg;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
